<p id="notice"><%= notice %></p>


<p>
  <b>Brand:</b>
  <%= @location.brand %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>Sales:</b>
  <%= @location.sales %>
</p>



<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>


<tl>

<li> <%= @location.brand %> <%= @location.sales %> </li>

<% for location in @location.nearbys(10) %>
  <li><%= link_to location.brand, location %> (<%= location.sales %>) (<%= location.distance.round(2) %> miles)</li>
<% end %>
</tl>

<% edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
